*{
    padding: 0;
    margin: 0;
}

#main_container{
    display: grid;
    grid-template-rows: 6rem 12fr 4rem;
    height: 100vh;
}

.top{
    background-color: aquamarine;
}
.content{
    display: grid;
    background-color: antiquewhite;

}
.main-menu{
    grid-template-columns: repeat(auto-fit,20vw);
    padding: 3rem 0 3rem 3rem;
    grid-gap: 3rem;
}
.project-menu{
    grid-template-columns: 1fr 4fr;

}
.mainScreen{
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: bisque;
}
.main_top{
    text-align: center;
    font-size: 50px;
    padding: 3px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: blue;
}
.card{
    width: 15rem;
    height: 20rem;
    background-color: pink;
    justify-self: center;
    border-radius: 5%;
    box-shadow: 10px 5px 5px palevioletred;
}
.card:hover{
    background-color: blueviolet;
}

#button{
    display: grid;
    
}

#button > img{
    width: 70%;
    align-self: center;
    justify-self: center;
}
.top{
    min-height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer{
    min-height: 2rem;
}
.popup{
    display: block;
    position: fixed;
    background-color: aliceblue;
    height: auto;
    width: 200px;
    left:45%;
    top: 25%;
    border: 3px solid black;
    z-index: 9;
}
.popup_form{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    text-align: center;
    padding: 5px;
}
.popup_form>button{
    margin: 15px 25px;
}
.popup_form> input{
    margin: 15px 25px;
}
.item-container{
    display: flex;
    gap: 30px;
    margin: 5px;
}
.item-container > h1{
    font-size: 25px;
}
