*{
    padding: 0;
    margin: 0;
}

#main_container{
    display: grid;
    grid-template-rows: 6rem 12fr 4rem;
    height: 100vh;
}

.top{
    background-color: aquamarine;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit,20vw);
    background-color: antiquewhite;
    padding: 3rem 0 3rem 3rem;
    grid-gap: 3rem;
}
.footer{
    background-color: blue;
}
.card{
    width: 15rem;
    height: 20rem;
    background-color: pink;
    justify-self: center;
    border-radius: 5%;
    box-shadow: 10px 5px 5px palevioletred;
}
.card:hover{
    background-color: blueviolet;
}

#button{
    display: grid;
    
}

#button > img{
    width: 70%;
    align-self: center;
    justify-self: center;
}
.top{
    min-height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer{
    min-height: 2rem;
}
